@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');

html {
    --outer-radius: 1vw;
    --padding: 2vw;
    --inner-radius: calc(var(--outer-radius) - var(--padding));
    --navy: #0A3474;
    --cream: #F8F5E9;
    --sand: #F9EABF;
    --sky: #C2E8F3;
    --lavender: #928DDF;
    color: var(--navy);
}


*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* line-height: 1.5; */
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

p, div {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}